<div class="page-header">
  <h1>コメント投稿一覧</h1>
</div>
<div>
  <%= form_tag public_user_responses_path, method: :get do %>
    <div>
      <%= select_tag(:q, options_from_collection_for_select(@boards, :title, :title, @params[:q]), {class: 'form-control'} ) %>
    </div>
    <br>
    <div>
      <%= submit_tag "検索", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br><br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>スレッド名</th>
    <th>コメント</th>
    <th>
      作成日時&nbsp;
      <%= link_to("↑", public_user_responses_path(created_at: "asc")) %>&nbsp;
      <%= link_to("↓", public_user_responses_path(created_at: "desc")) %>
    </th>
    <th>削除</th>
  </tr>
  </thead>
  <tbody>
  <% @responses.each do |response| %>
    <tr>
      <td><%= response.id %></td>
      <td><%= response.board.title %></td>
      <td><%= simple_format response.body %></td>
      <td>
        <%= response.format_created_at %>
      </td>
      <td><%= link_to "削除", public_user_response_path(response), id: "delete_response#{response.id}", method: :delete, data: {confirm: "削除してよろしいですか？"}%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @responses %>