<div class="page-header">
  <h1>取引所</h1>
  <%= form_tag admin_shops_path, method: :get do %>
    <div class="form-group">
      <div class="col-lg-10">
        <%= text_field_tag :q, @q, class: 'form-control', placeholder: "取引所名・住所・会社名" %>
      </div>
    </div>
    <br><br><br>

    <div>
      <% @coins.each.with_index(1) do |coin, i| %>
        <%= get_coin_check_box_tag(coin.id) %>
        <%= label_tag :coin_name, coin.name %>
        <% if i % 6 == 0 %>
          <br>
        <% end %>
      <% end %>
    </div>
    <br><br>
    <div><%= submit_tag "検索", class: 'btn btn-primary' %></div>
  <% end %>
  <br><br><br>
  <div>
    <%= link_to "新規作成", new_admin_shop_path %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>取引所名</th>
      <th>住所</th>
      <th>会社名</th>
      <th>取り扱いコイン</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.id %></td>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.company %></td>
        <td>
          <% shop.coins.reload.each do |coin| %>
            <%= coin.name %><br>
          <% end %>
        </td>
        <td><%= link_to "詳細", admin_shop_path(shop), {id: "shop_#{shop.id}", class: "btn btn-info"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @shops, class: "page-link" %>
</div>

