<div class="page-header">
  <h1>取引所一覧</h1>
</div>
<div>
  <%= form_tag public_shops_path, method: :get do %>
    <div>
      <%= text_field_tag :q, @params[:q], placeholder: "取引所名・住所・会社名", class: "form-control" %><br>
    </div>
    <div>
      <% @coins.each.with_index(1) do |coin, i| %>
        <%= get_coin_check_box_tag coin, @coin_ids %>
        <%= label_tag coin.name %>
        <% if i % 3 == 0 %>
          <br>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= submit_tag "検索", class: 'btn btn-primary' %>
    </div>
<% end %>
</div>

<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>取引所名</th>
      <th>住所</th>
      <th>会社名</th>
      <th>取り扱いコイン</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.company %></td>
        <td>
          <% shop.coins.reload.each do |coin| %>
            <%= coin.name %><br>
          <% end %>
        </td>
        <td><%= link_to "詳細", public_shop_path(shop), id: "shop_#{shop.id}", class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @shops, class: "page-link" %>
</div>

