<div class="page-header">
  <h1>コメント一覧</h1>
  <h2><%= @board.title %></h2>
</div>
<div>
  <%= link_to "コメントを書く", new_public_board_response_path(@board) %>
</div>
<% @responses.each do |response| %>
<div class="box30">
  <div class="box-title">
    <div>
      <%= response.user.nickname %>
      <%= response.format_created_at %>
    </div>
  </div>
  <p><%= simple_format response.body %></p>
  <% if current_user == response.user %>
    <p><%= link_to "削除", public_response_path(response), method: :delete, data: {confirm: "削除してよろしいですか？"} %></p>
  <% end %>
</div>
<% end %>
<div>
  <%= link_to "コメントを書く", new_public_board_response_path(@board) %>
</div>
<div>
  <%= paginate @responses %>
</div>
