<div class="page-header">
  <h1>コメント一覧</h1>
  <h2><%= @board.title %></h2>
</div>
<div>
  <%= form_tag admin_board_responses_path(@board), method: :get do %>
    <div class="form-group">
        <%= text_field_tag "q[response]", get_response_param, :class => 'form-control', placeholder: "コメントID・コメント内容" %>
      <div>※ 半角スペース区切りにて複数検索可能(OR検索) <br>例. コメント1 コメント2</div>
    </div>

    <div class="form-group">
      <%= text_field_tag "q[user]", get_user_param, :class => 'form-control', placeholder: "ユーザーID・苗字・名前" %>
      <div>※ 半角スペース区切りにて複数検索可能(OR検索) <br>例. 山田 花子 山田 太郎</div>
    </div>

    <div class="form-group">
        <%= submit_tag "検索", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br><br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>コメント</th>
      <th>投稿者</th>
      <th>作成日時</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.id %></td>
        <td><%= simple_format(response.body) %></td>
        <td><%= response.user.full_name %></td>
        <td><%= response.format_created_at %></td>
        <td><%= link_to "詳細", admin_board_response_path(@board, response), class: "btn btn-info", id: "show_response#{response.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @responses %>
</div>
