<div class="page-header">
  <h1>管理者管理</h1>
  <%= link_to "新規作成", new_admin_admin_path %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>苗字</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>詳細</th>

    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.id %></td>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        <td><%= admin.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        <td><%= link_to "詳細", admin_admin_path(admin), class: "btn btn-info", id: "admin_#{admin.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

