<div class="page-header">
  <h1>取り扱いコイン</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>コイン名</th>
      <th>コイン名(省略名)</th>
      <th>価格</th>
      <th>時価総額</th>
    </tr>
  </thead>
  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.id %></td>
        <td><%= coin.name %></td>
        <td><%= coin.symbol %></td>
        <td><%= coin.format_price %></td>
        <td><%= coin.format_market_cap_jpy %></td>
      </tr>
    <% end %>
  </tbody>
</table>
