<div class="page-header">
  <h1>コイン一覧</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>コイン名</th>
    <th>コイン名(省略名)</th>
    <th>時価総額</th>
  </tr>
  </thead>
  <tbody>
  <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.id %></td>
      <td><%= coin.name %></td>
      <td><%= coin.symbol %></td>
      <td><%= coin.format_market_cap_jpy %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div>
  ※<%= @coins.first.format_updated_at %>時点
</div>